.copy-to-clipboard {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 54px;
    height: 18px;
    border-radius: 3px;
    background-color: #0f62fe;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .copy-to-clipboard:hover {
    background-color: #007bff;
  }
  
  button.copied-to-clipboard {
    background-color: green;
    width: 60px;
    height: 18px;
    color: white;
  }
  
  pre:hover .copy-to-clipboard {
    opacity: 1;
  }

  
  .copied-to-clipboard {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 60px;
    height: 18px;
    border-radius: 3px;
    background-color: #green;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .ibm-ind-link::before {
    content: "\2192";
    color: #3b6caa;
    font-size: 1.5rem;
    padding-bottom: 2px;
    position: relative;
    /* Adjust these values accordingly */
    top: 2.5px;
  }
  
  a.ibm-forward-link {
  
    color: #3b6caa;
    font-size: 1rem;
    padding-left:0.5rem;
    text-decoration: none;
  
  }
  
  a.ibm-forward-link:hover {
    text-decoration: underline;
  }