.copy-to-clipboard {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 54px;
    height: 18px;
    border-radius: 3px;
    background-color: #0f62fe;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .copy-to-clipboard:hover {
    background-color: #007bff;
  }
  
  button.copied-to-clipboard {
    background-color: green;
    width: 60px;
    height: 18px;
    color: white;
  }
  
  pre:hover .copy-to-clipboard {
    opacity: 1;
  }

  
  .copied-to-clipboard {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 60px;
    height: 18px;
    border-radius: 3px;
    background-color: #green;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  