/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */
@import "burgerMenu";

$event-streams-primary-action: #602797;

.sidebar {
  flex-shrink: 0;
  background: #fff;
  transition: $menuTransition transform, 0.3s 0s opacity;
  flex-direction: column;
  display: flex;
  border-right: 1px solid $keyline;

  &.sticky {
    height: 100vh;
    min-height: calc(100vh - #{$mastheadHeight});
    top: 0rem;
  }

  .sidebar-inner {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: relative;  // for line positioning
  }

  /* Full-width bottom line under sidebar header */
  .sidebar-inner::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $keyline;
  }

  /* Remove the line when sidebar is closed */
  &.nav-close .sidebar-inner::after {
    content: none;
  }

  .nav__list {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    overflow: scroll;

    a {
      font-size: .875rem;
      color: inherit;
      line-height: 1.25rem;
      padding: 0.25rem 0;
      display: flex;
      position: relative;

      &:hover,
      &.active {
        &:before {
          position: absolute;
          left: -1.5rem;
          display: block;
          content: " ";
          width: 0.25rem;
          background: $brand-01;
          top: 0;
          bottom: 0;
        }
      }

      &:hover {
        &:before {
          background: $text-02;
        }
      }

      &.active {
        font-weight: 600;
      }
    }
  }

  .nav__sub-title {
    display: block;
    margin: 0.5rem 0;
    padding: 0.25rem 0;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: .75rem;
    font-weight: 600;
    color: #68737c;
    flex-grow: 1;
  }
}

@media screen and (max-width: $large) {
  .nav__close-btn,
  #hamburgerMenu,
  #navbarVersionPill {
    display: none;
  }
}

/* Media query for responsive behavior */
@media screen and (min-width: $large) {
  .nav__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000; 
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }


  .sidebar.nav-close {
    height: 3.5rem;                  
    min-height: unset;
    flex-basis: 3.5rem;
    background: transparent;
    z-index: 1;
    position: relative;

    .versionContainer#sidebarVersionPill {
      display: none;
    }

    .sidebar-inner {
      justify-content: start;
      background: white;
      align-items: center;           
      padding-top: 0.25rem;

    }

    .sidebar-inner::after {
      display: none;
    }

    .nav__list {
      transform: translateX(-100%);
      transition: none; 
    }

    .nav__close-btn {
      display: none;
    }
  }

  
  .sidebar.nav-open .nav__list {
    transition: transform .3s ease-in-out;
    transform: translateX(0);
  }

  #hamburgerMenu {
    height: 3rem;              
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
  }

  .mainContainer.full-width {
    width: 100%;
    flex-direction: column;

    .mainContent {
      width: 100%;
    }
  }

  .sidebar.nav-open {
    #hamburgerMenu {
      display: none;
    }

    .versionContainer#navbarVersionPill {
      display: none;
    }
  }
}

.subMenu {
  top: 3rem;
  left: 0rem;
  height: 3rem;
  background: white;
  z-index: 24;
  position: -webkit-sticky;
  position: sticky;
  display: none;
  transition: $menuTransition;
  align-items: center;
  border-bottom: 1px solid $keyline;

  &.backMenu {
    display: flex;
    top: .5rem;
    position: sticky;
    align-items: center;
    padding-left: 1.5rem;

    img {
      height: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: -7px;
    }

    a {
      font-weight: 600;
      color: $text-01;
      cursor: pointer;

      &:link {
        text-decoration: none;
      }

      &:hover {
        color: $text-01;
      }

      &:visited {
        color: $text-01;
      }
    }
  }

  .versionContainer {
    display: flex;
  }

  .menuIcon {
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $keyline;
    margin-right: 1rem;
  }

  .page__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }

  .versionPill {
    margin-left: 0;
  }
}

.sidebarMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparentize($color: $text-color, $amount: 0.2);
  opacity: 0.8;
  z-index: 100;
  display: none;
  cursor: pointer;
}

body {
  &.sidebarOpen {
    overflow: hidden;

    .page__inner-wrap {
      opacity: 0.2;
    }
  }
}

@media only screen and (max-width: $large) {
  .sidebar {
    flex-basis: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: fixed;
    z-index: 101;
    top: 3rem;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    width: 15rem;
    box-shadow: 0px 57px 20px 3px rgba(19, 54, 79, 0.15);
  }

  body {
    &.sidebarOpen {
      .sidebar {
        transform: translateX(0);
        opacity: 1;
        z-index: 20;
        transition: $menuTransition transform, 0.2s opacity;
      }

      .subMenu {
        left: 16rem;
        top: 3rem;
        padding-left: 15rem;

        .menuIcon {
          border-left: 1px solid $keyline;
        }

        .versionContainer {
          display: none;
        }

        .pageTitle {
          display: none;
        }
      }
    }
  }

  .subMenu {
    display: flex;
    top: 0.5rem;
  }

  .versionsBar {
    min-width: 15rem;
  }

  .nav__list {
    min-width: 15rem;
  }
  /* ======================================================
   Chevron icon styles
====================================================== */
.menuIcon,
.nav__close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__close-btn svg {
  display: block;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
}

.menuIcon:hover svg,
.nav__close-btn:hover svg {
  stroke: #0072c3; // hover color
}

.menuIcon:focus,
.nav__close-btn:focus {
  outline: 2px solid #0072c3;
  outline-offset: 2px;
}

.nav__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* ===========================
   VERSION-ONLY SIDEBAR MODE
=========================== */
.sidebar.version-only nav,
.sidebar.version-only .sidebar-inner > *:not(.versionsBar):not(#navCloseBtn) {
  display: none !important;
}

.sidebar.version-only .versionsBar {
  display: block !important;
}
}

@media only screen and (max-width: 880px) {
  .subMenu {
    top: 3rem;
  }
  .nav__close-btn {
     display: none !important;
  }
}

@media only screen and (max-width: 640px) {
  .subMenu {
    top: 3rem;
  }
  .nav__close-btn {
     display: none !important;
  }

  .mainContainer {
    .sidebar {
      line-height: 1.25rem;

      a {
        padding: 0.5rem 0;
      }
    }
  }
}



@import "versions";

